html, body {
  height: 100%;
  height: 100vh;
  background: #000;
  color: #000;
  background-image: linear-gradient(280deg, rgba(107, 80, 35, 0.5) 0%, rgba(89, 52, 45, 0.5) 25%, rgba(65, 44, 63, 0.5) 70%, rgba(32, 33, 61, 0.5) 100%);
  overflow: hidden;
  -webkit-user-select: none;
  cursor: default;
}

#game {
  position: absolute;
  height: 100%;
  height: 100vh;
  width: 60vh;
  min-width: 400px;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(-180deg, #76C6DF 0%, #2F92BF 100%);
  font-family: "Open Sans", Arial, sans-serif;
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.5);
  outline: 1px solid #000;
  overflow: hidden;
}