html, body {
  height: 100%;
  height: 100vh;
  background: #000;
  color: #000;
  background-image: linear-gradient(280deg, rgba(107, 80, 35, 0.5) 0%, rgba(89, 52, 45, 0.5) 25%, rgba(65, 44, 63, 0.5) 70%, rgba(32, 33, 61, 0.5) 100%);
  overflow: hidden;
  -webkit-user-select: none;
  cursor: default;
}

#game {
  position: absolute;
  height: 100%;
  height: 100vh;
  width: 60vh;
  min-width: 400px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14;
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.5);
  outline: 0px solid #000;
  overflow: hidden;
}
#game .sidebar {
  background-image: linear-gradient(-166deg, #76C6E0 0%, #48A7D4 100%);
  width: 80px;
  height: calc(100% - 20px);
  padding: 10px;
  overflow-y: scroll;
}
#game .sidebar .button {
  /* Icon placement fixes */
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
}

#game .happiness .button:not(:last-child) {
  margin-bottom: 15px;
}
#game .button-progress .button.profile img {
  margin-top: -2px;
}
#game .button progress .button.study img {
  margin-top: 8px;
  margin-left: 8px;
}
#game .sidebar .button.social img {
  margin-top: -1px;
}
#game .sidebar .button.fun img {
  margin-top: -2px;
}
#game .sidebar .button.work img {
  margin-top: -2px;
}
#game .sidebar .button.leader img {
  margin-top: -1px;
}
#game .sidebar .button.settings img {
  margin-top: -2px;
}

#game .body {
  background: #F9F9F9;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 100px);
  height: 100%;
  height: 100vh;
  color: #aaa;
}
#game .body .status-bar {
  background: #ffffff;
  position: relative;
  /* Images on progress bars fix */
}
#game .body .status-bar .display .button.progress img {
  z-index: 3;
  position: absolute;
}
#game .body .status-bar > table {
  position: relative;
  width: 100%;
}
#game .body .status-bar > table td {
  padding: 0 calc(16.65% - 37px);
}

#game .body .menus {
  position: relative;
  width: calc(100% - 12px);
  height: calc(100% - 126px);
  padding: 12px;
}
#game .body .menus .wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
#game .body .menus .menu {
  width: calc(100% - 12px);
}
#game .body .menus .menu h1 {
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 14;
  color: #54AFD7;
}
#game .body .menus .menu h1:not(:first-child) {
  margin-top: 26px;
}
#game .body .menus .menu h1:first-child {
  margin-top: 0;
}
#game .body .menus .menu h2 {
  margin-bottom: .6em;
}
#game .body .menus .menu p {
  cursor: pointer;
  text-align: center;
  padding: .8em;
  border: 1px solid #54AFD7;
  color: #54AFD7;
  border-radius: 4px;
  margin-bottom: 15px;
}
#game .body .menus .menu p:hover:not(:active), #game .body .menus .menu p.active {
  background: #aaa;
  border-color: #000;
  color: #000;
}
#game .body .menus .menu p:hover:not(:active) ico, #game .body .menus .menu p.active ico {
  -webkit-filter: brightness(0);
}
#game .body .menus .menu p:active {
  background: #999;
  border-color: #999;
  color: #000;
}
#game .body .menus .menu p:last-child {
  margin-bottom: 0;
}
#game .body .menus .menu ico.bottle {
  margin-left: -2px;
}
#game .body .menus .menu ico.arrow {
  margin-left: 3px;
  margin-right: 2px;
}
#game .button .progress.indicator {
  position: absolute;
  /*top: -1px;
  left: -1px;
  width: 74px;
  height: 74px;*/
  color: #54AFD7;
  top: 75px;
  left: 20px;
}

#game .button {
  align-content: center;
  position: relative;
  border: 1px solid #54AFD7;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#game .button:not(.progress) {
  position: relative;
  border: 1px solid #fff;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  cursor: pointer;
}
#game .button img {
  padding: 4px;
  width: 65px;
  height: 65px;
}
#game .button:not(.progress):hover, #game .button:not(.progress).selected {
  background: #fff;
  color: #54AFD7;
}
#game .button:not(.progress):hover img, #game .button:not(.progress).selected img {
  -webkit-filter: brightness(0);
}
#game ico.bottle {
  display: inline-block;
  background: url("http://i.imgur.com/D1vHjUg.png") no-repeat;
  background-size: cover;
  height: .75em;
  width: .75em;
}
#game ico.arrow {
  display: inline-block;
  background: url("http://i.imgur.com/4YRieiW.png") no-repeat;
  background-size: cover;
  height: .75em;
  width: 1em;
}
#game ico.arrow.down {
  transform: rotate(90deg);
}
#game ico.arrow.up {
  transform: rotate(-90deg);
}
#game ico.arrow.left {
  transform: rotate(-180deg);
}
#game .blend {
  mix-blend-mode: color-dodge;
}
#game .hidden, #game .hide {
  display: none;
}
#game ::-webkit-scrollbar {
  width: 4px;
}
#game ::-webkit-scrollbar-track {
  background: #000;
  border-radius: 2px;
}
#game ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}
#game ::-webkit-scrollbar-thumb:hover {
  background: #fff;
  border-radius: 2px;
}
#game .enterButton {
top: 450px;
left: 120px;
width: 200px;
padding: 18px 0;
z-index: 999;
border: 1px solid #fff;
border-radius: 10px;
text-align: center;
position: absolute;
color: white;
}
a.enterGame:link{
color:white;
text-decoration: none;
}
a.enterGame:hover{
color:white;
text-decoration: none;
}
a.enterGame:visited{
color:white;
text-decoration: none;
}

#game .sidebar p{
    margin-top: 28px;
    text-align: center;
}
.leader.button{
  font-size: 13px;
}
/**hudishi**/
